<%= link_to 'Back', projects_path, class: "btn btn-primary" %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">  
    <div class="panel panel-default">
          <div class="panel-body">
             <div class="col-md-6">
        <%= image_tag @project.finished_image.url(:medium), class: "img-thumbnail"  %>
  </div>

  <div class="col-md-4">
    <p><strong><h4><%= @project.name %></h4></strong><p>
    <p>by <%= @project.description %></p>
    <% if @project.user == current_user %>
<%= link_to edit_project_path(@project) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
        <%= link_to @project, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
    <% else %>
    
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8"> 
    <!--<div class="panel-group" id="accordion">-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <button type="button" class="btn btn-primary">Add a New Update</button> 
          </a>
          </h4>
       </div>
       <div id="collapseTwo" class="panel-collapse collapse">
         <div class="panel-body">
          <%= form_for([@project, @project.updates.build], :html => { :multipart => true  }) do |f| %>
           <div class="form-group">
             <%= f.label :update_image %>
             <%= f.file_field :update_image, class: "form-control" %>
          </div>  
          <div class="form-group">
            <%= f.label :hours %>
            <%= f.text_field :hours, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
          <%= f.label :update_date %><br />
          <%= f.date_field :update_date, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
    <% end %>
       <!--</div>-->
     </div>
    </div>
   </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <button type="button" class="btn btn-primary">My Updates</button>
          </a>
        </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse.in">
         <div class="panel-body">
           <div id="updates" class="transitions-enabled"> 
            <% @project.updates.order("update_date desc").each do |update| %>
            <div class="box">
              <%= image_tag update.update_image.url(:medium), class: "img-thumbnail" %>
              <h4 class="center"><%= update.hours %> hours on <%= update.update_date.strftime("%d/%m/%y") %></h4>
              <p class="center">
                <%= link_to 'Destroy Update', [update.project, update],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
            <% end %>
           </div>
         </div>
       </div>
    </div>
  </div>
